{% extends "layout.html" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Application code</th>
        </tr>
    </thead>
    <tbody>
        {% for applicant in applicants %}
        <tr>
            <td>
                <a href="{{ url_for ('get_applicant', code=applicant['application_code'])}}">
                {{ applicant["first_name"] }} {{ applicant["last_name"] }}</a></td>
            <td>{{ applicant["phone_number"] }}</td>
            <td>{{ applicant["email"] }}</td>
            <td>{{ applicant["application_code"] }}</td>
        </tr>
        {% endfor %}
        
    <form action="{{  url_for('applicants_list' ) }}" method="post">
        <label for="email-ending">Email address ending in: </label>
        <input type="text" id="email-ending" name="email-ending">
        <button type="submit">Submit</button>
    </form>
    

    </tbody>
</table>
{% endblock %}